@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #ffffff ;
}
a{
  text-decoration: none;
  color: black;
}
button{
  background: transparent;
  border-radius: 5%;
  padding: 0em 2em;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
/* Batas Scroll bar */

/* Navbar */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
background: linear-gradient(0deg, rgb(21, 41, 93, 0.97) 0%, rgb(5, 14, 40, 1) 100%);    padding: 10px 0;

  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
/* Batas Navbar */

/* Paralax */

.paralax{
    background: 
    linear-gradient(180deg, #0A142F -20.49%, rgba(10, 20, 47, 0.46) 24.31%),
    url('./Asset/DSC00001.JPG') no-repeat center center / cover ;
    height: 100vh;
    background-position: 25% 5%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.paralax div{
    position: absolute;
    top: 60%;
    
}
.paralax div h2{
    color: white;
    font-size: 3.25vw;
    margin-left: 20px;
    line-height: 1.5;
    font-weight: 400;
}
/* Batas Paralax */

/* Container video profile */
.containervideoprofile{
    padding-top: 5vw;   
    padding-left: 6vw;
    padding-right: 6vw;
}
.containervideoprofile iframe{
    margin-top: 1vw;
}

.containervideoprofile h1{
    text-align: center;
}
/* Batas Container profile */

/* Our Asisten */
.containerourasisten{
  display: flex;
    padding: 5vw 6vw;
    justify-content: space-between;
    
}

.ourasisten{
    width: 50%;
}
.foto{
    width: 40%;
    padding: 0 auto;
}
.divisi h2{
    text-align: center;
    
  }


.swiper {
    width: 100%;
    height: 100%;
    
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* 3dvirtual lab tour */
.containervirtuallabtour{
    height: 90vh;
    /* background: 
    linear-gradient(180deg, rgba(10,20,47,0) 0%, rgba(10, 20, 47, 0.85) 100%),
    url("./Asset/DSC00001.JPG") no-repeat 50% 10% / cover ; */
    position: relative;
}

.containervirtuallabtour iframe{
  width: 100%;
  height: 100%;
  /* padding: 0 6vw; */
}
.containervirtuallabtour h3{
  color: white;
  font-size: 3vw;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  padding-left: 6vw;
}
.containervirtuallabtour img{
  max-height: 35%;
  max-width: 35% ;
 position: absolute;
 top: 30%;
 left: 40%;
 
}
/* Batas Virtual Lab Tour */

/* Our Activity */
.containerouractivities{
  margin-top: 15vh;
  margin-left: 6vw;
}

.containerouractivities h1{
  font-weight: 500;
}
.containerouractivities p{
  margin-bottom: 2vh;
}
.card-text p{
  /* color: red; */
  text-overflow: ellipsis;
}
.card{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem}.card>hr{margin-right:0;margin-left:0}.card>.list-group:first-child .list-group-item:first-child{border-top-left-radius:.25rem;border-top-right-radius:.25rem}.card>.list-group:last-child .list-group-item:last-child{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:0.75rem}.card-title{margin-bottom:1rem}.card-subtitle{margin-top:-.375rem;margin-bottom:0}.card-text:last-child{margin-bottom:0}.card-link:hover{text-decoration:none}.card-link+.card-link{margin-left:1.25rem}.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:rgba(0,0,0,.03);border-bottom:1px solid rgba(0,0,0,.125)}.card-header:first-child{border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0}.card-header+.list-group .list-group-item:first-child{border-top:0}.card-footer{padding:.75rem 1.25rem;background-color:rgba(0,0,0,.03);border-top:1px solid rgba(0,0,0,.125)}.card-footer:last-child{border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px)}.card-header-tabs{margin-right:-.625rem;margin-bottom:-.75rem;margin-left:-.625rem;border-bottom:0}.card-header-pills{margin-right:-.625rem;margin-left:-.625rem}.card-img-overlay{position:absolute;top:0;right:0;bottom:0;left:0;padding:1.25rem}.card-img{width:100%;border-radius:calc(.25rem - 1px)}.card-img-top{width:100%;border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px)}.card-img-bottom{width:100%;border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px)}.card-deck{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}.card-deck .card{margin-bottom:15px}@media (min-width:576px){.card-deck{-ms-flex-flow:row wrap;flex-flow:row wrap;margin-right:-15px;margin-left:-15px}.card-deck .card{display:-ms-flexbox;display:flex;-ms-flex:1 0 0%;flex:1 0 0%;-ms-flex-direction:column;flex-direction:column;margin-right:15px;margin-bottom:0;margin-left:15px}}.card-group{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}.card-group>.card{margin-bottom:15px}@media (min-width:576px){.card-group{-ms-flex-flow:row wrap;flex-flow:row wrap}.card-group>.card{-ms-flex:1 0 0%;flex:1 0 0%;margin-bottom:0}.card-group>.card+.card{margin-left:0;border-left:0}.card-group>.card:first-child{border-top-right-radius:0;border-bottom-right-radius:0}.card-group>.card:first-child .card-header,.card-group>.card:first-child .card-img-top{border-top-right-radius:0}.card-group>.card:first-child .card-footer,.card-group>.card:first-child .card-img-bottom{border-bottom-right-radius:0}.card-group>.card:last-child{border-top-left-radius:0;border-bottom-left-radius:0}.card-group>.card:last-child .card-header,.card-group>.card:last-child .card-img-top{border-top-left-radius:0}.card-group>.card:last-child .card-footer,.card-group>.card:last-child .card-img-bottom{border-bottom-left-radius:0}.card-group>.card:only-child{border-radius:.25rem}.card-group>.card:only-child .card-header,.card-group>.card:only-child .card-img-top{border-top-left-radius:.25rem;border-top-right-radius:.25rem}.card-group>.card:only-child .card-footer,.card-group>.card:only-child .card-img-bottom{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.card-group>.card:not(:first-child):not(:last-child):not(:only-child){border-radius:0}.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer,.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top{border-radius:0}}.card-columns .card{margin-bottom:.75rem}@media (min-width:576px){.card-columns{-webkit-column-count:3;-moz-column-count:3;column-count:3;-webkit-column-gap:1.25rem;-moz-column-gap:1.25rem;column-gap:1.25rem;orphans:1;widows:1}.card-columns .card{display:inline-block;width:100%}}.accordion .card:not(:first-of-type):not(:last-of-type){border-bottom:0;border-radius:0}.accordion .card:not(:first-of-type) .card-header:first-child{border-radius:0}.accordion .card:first-of-type{border-bottom:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.accordion .card:last-of-type{border-top-left-radius:0;border-top-right-radius:0}

.card-body{
  overflow: hidden;
  /* height: 20vh; */
}
.card-title{
  height: 35px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.text{
  width: 80%;
  padding-left: 10%;
  }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 5px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;

  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card{
    border-radius: 5px;
}

.card-body{
  color: white;
  background: linear-gradient(180deg, #182D66 0%, #030C23 100%);
}

.card-title{
  font-family: 'Lexend Deca';
  font-weight: 400;
}

.card-text{
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 0.9rem;
}
/* Batas Our Activity */

/* blog */
.containerblog{
padding: 3vh 6vw;
}
.containerblog p{
  margin-bottom: 1vh;
}
.containerblog h1{
  font-family: 'lexend deca';
  font-weight: 400;
}
.konten{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}
.thumbnail{
  width: 20%;
  padding: 2rem;
  
}
.thumbnail img{
  width: 100%;
  height: 100%;
}
.preview{
  width: 75%;
}

.preview h3{
  margin-top: 1em;
  font-size: 1.1vw;
  font-weight: 600;
}

.preview h1{
  font-size: 2vw;
  font-weight: 600;
}
.preview p{
  text-align: justify;
}
.containerblog a:hover{
color: #007bff;
}

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
  
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }

  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #1b1b1b;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  .paralax div h2{
      font-size: 4vw;
  }
}
@media (max-width: 576px){
  .containerourasisten{
    flex-direction: column;
  }
  .paralax{   
    height: 80vh;
    background-position: 55%  ;
    background-size:cover;
  }
  .ourasisten{
    width: 100%;
  }
  .foto{
    width: 100%;
  }
  .containervirtuallabtour h3{
    font-size: 5vw;
  }
}

@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }

  
  .paralax div h2{
      font-size: 100px;
  }
  .containerourasisten{
    flex-direction: column;
}
.ourasisten{
  width: 100%;
}
.foto{
  width: 100%;
}

}